name: 'test'
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm run lint

  unit-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm run test

  integration-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - uses: autifyhq/actions-setup-cli@v2 # This is needed because we override `autify-path`.
      - run: npm install @autifyhq/autify-cli-integration-test
      - run: npx autify-mobile-generate-fake-app

      - id: mobile-build-upload-ios
        uses: ./
        with:
          access-token: token
          autify-path: ./node_modules/.bin/autify-with-proxy
          workspace-id: AAA
          build-path: ./ios.app
      - run: test ${{ steps.mobile-build-upload-ios.outputs.exit-code }} = 0
      - run: echo "${{ steps.mobile-build-upload-ios.outputs.log }}" | grep "Successfully uploaded"
      - run: test -n ${{ steps.mobile-build-upload-ios.outputs.build-id }}

      - id: mobile-build-upload-android
        uses: ./
        with:
          access-token: token
          autify-path: ./node_modules/.bin/autify-with-proxy
          workspace-id: AAA
          build-path: ./android.apk
      - run: test ${{ steps.mobile-build-upload-android.outputs.exit-code }} = 0
      - run: echo "${{ steps.mobile-build-upload-android.outputs.log }}" | grep "Successfully uploaded"
      - run: test -n ${{ steps.mobile-build-upload-android.outputs.build-id }}

      - id: failed
        uses: ./
        with:
          access-token: token
          autify-path: 'false'
          workspace-id: AAA
          build-path: ./android.apk
        continue-on-error: true
      - run: test ${{ steps.failed.outputs.exit-code }} = 1
      - run: test -z "${{ steps.failed.outputs.log }}"
      - run: test -z ${{ steps.web-test-run.outputs.build-id }}
